@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
	font-family: "微软雅黑", Arial, Helvetica;
}
body {
	background-color: #000;
}
#wrap {
	width: 100%;   /* height: 600px;*/
	margin: 0px auto;
	background-color: #fff;
	position:absolute;
}
#wrap .bg{
	width: 100%;
	position: fixed;
}
#wrap img{
	position:absolute;
}
a {
	color: #5C5C5C;
	text-decoration: none
}
li {
	list-style: none
}
/*网站LOGO*/
#logo {
	left: 12%;
	top: 0;
	margin: 5px;
	z-index: 99;
	position: fixed;
}
#logo img {
	width: 30px;
	height: 30px;
}
/*导航*/
nav {
	width: 100%;
	height: 40px;
	background: rgba(240,240,240,0.9);
	margin: 0 auto;
	position: fixed;
	top: 0;
	z-index: 98
}
/*设置鼠标停留超链接时，文字变色加粗*/
nav a:hover {
	color: #5C5C5C;
	font-weight: bolder
}
/*导航一级栏目*/
nav ul:first-child {
	padding-left: 15%
}
nav ul li {
	float: left;
	line-height: 40px;
	width: 140px;
	text-align: center;
	word-spacing: 4px
}
nav ul li:hover {
	background: rgba(168,192,192,0.8)
}
nav ul li ul {
	display: none
}
/*指向一级导航时候，二级导航显示为块级元素*/
nav ul li:hover ul {
	display: block
}
/*指向一级导航时候，三级导航元素不会被显示*/
nav ul li:hover ul li ul {
	display: none
}
/*导航二级栏目*/
nav ul li ul li:first-child {
	border-top: #d8d8c0 1px solid
}
nav ul li ul li {
	height: 30px;
	line-height: 30px;
	background: rgba(240,240,240,0.8);
	border-bottom: #d8d8c0 1px solid
}
nav ul li ul li:hover {
	background: rgba(168,192,192,0.8)
}
nav ul li ul li:hover ul {
	display: block
}
nav ul li ul li {
	position: relative
}
/*导航三级目录*/
/*相关知识参考第07次课*/
nav ul li ul li ul {
	position: absolute;
	top: 0px;
	left: 140px
}
nav ul li ul li ul li {
	background: rgba(240,240,240,0.9)
}
/*网页内容区*/
#wrap #content {
	position: relative;
	background: rgba(255,255,255,0.80);
	width: 1024px;
	height: 580px;
	margin: 60px auto;
}
/*横幅css*/
#wrap #content #banner {
	width: 1000px;
	height: 290px;
	position: relative;
	margin: 0 auto;
	top: 10px;
}
#pic {
	position: relative
}
/*不知道为什么，删除这一段可以在浏览器中显示滚动图片，但切换兼容模式或者ie内核就不能显示。
#pic ul li {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
}
#pic .piccur {
	opacity: 1;
	filter: alpha(opacity=100);
}*/
#btn {
	position: absolute;
	width: 300px;
	right: 50%;
	bottom: 8px;
}
#btn ul {
	float: right
}
#btn li {
	float: left;
	color: #FFF;
	height: 24px;
	width: 24px;
	text-align: center;
	background: #f0f0f0;
	font-size: 12px;
	color: #5C5C5C;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 8px;
	line-height: 24px;
	cursor: pointer;
}
#btn .btncur {
	background: #a8c0c0
}
/*栏目1（单曲推荐）*/
#line1 {
	width: 1000px;
	margin: 0 auto;
}
#line1 h2 {
	font-size: 16px;
	color:#5C5C5C;
	margin-left:20px;
	position:relative;
	top: 45px;
}
#line1 a {
	text-decoration: none;
	color: #444444;
}
#line1 ul {
	width: 1000px;
	margin: 50px auto;
}
#line1 li {
	width: 180px;
	float: left;
	list-style: none;
	margin-left: 15px
}
#line1 img {
	width: 170px;
	height: 170px;
	border: 1px solid #ccc;
	padding: 3px;
	position: absolute
}
#line1 p {
	width: 170px;
	height: 36px;
	line-height: 20px;
	background: rgba(255,255,255,0.90);
	marigin-top: -24px;
	padding: 3px;
	position: relative;
	top: 135px;
}
#line1 span {
	float: right;
	font-size: 12px;
}
#line1 span a {
	color: #FF383C
}
/*尾部声明*/
footer{
	width: 1024px;
	margin: 0 auto;
	background-color: rgba(240,240,240,0.9);
	color: #4F4F4F;
	height: 50px;
	position: relative;
	top: 670px;
	
}
footer p{
	text-align: center;
	line-height: 25px;
	font-size: 14px;

}
