@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
	font-family: "微软雅黑", Arial, Helvetica;
}
body {
	background-color: #000;
}
#wrap {
	width: 100%;   /* height: 600px;*/
	margin: 0px auto;
	background-color: #fff;
	position: absolute;
}
#wrap img {
	width: 100%;
	position: fixed
}
a {
	color: #5C5C5C;
	text-decoration: none
}
li {
	list-style: none
}
/*网站LOGO*/
#logo {
	left: 12%;
	top: 0;
	margin: 5px;
	z-index: 99;
	position: fixed;
}
#logo img {
	width: 30px;
	height: 30px;
}
/*导航*/
nav {
	width: 100%;
	height: 40px;
	background: rgba(240,240,240,0.9);
	margin: 0 auto;
	position: fixed;
	top: 0;
	z-index: 98
}
/*设置鼠标停留超链接时，文字变色加粗*/
nav a:hover {
	color: #5C5C5C;
	font-weight: bolder;
}
/*导航一级栏目*/
nav ul:first-child {
	padding-left: 15%
}
nav ul li {
	float: left;
	line-height: 40px;
	width: 140px;
	text-align: center;
	word-spacing: 4px
}
nav ul li:hover {
	background: rgba(168,192,192,0.8)
}
nav ul li ul {
	display: none
}
/*指向一级导航时候，二级导航显示为块级元素*/
nav ul li:hover ul {
	display: block
}
/*指向一级导航时候，三级导航元素不会被显示*/
nav ul li:hover ul li ul {
	display: none
}
/*导航二级栏目*/
nav ul li ul li:first-child {
	border-top: #d8d8c0 1px solid
}
nav ul li ul li {
	height: 30px;
	line-height: 30px;
	background: rgba(240,240,240,0.8);
	border-bottom: #d8d8c0 1px solid
}
nav ul li ul li:hover {
	background: rgba(168,192,192,0.8)
}
nav ul li ul li:hover ul {
	display: block
}
nav ul li ul li {
	position: relative
}
/*导航三级目录*/
/*相关知识参考第07次课*/
nav ul li ul li ul {
	position: absolute;
	top: 0px;
	left: 140px
}
nav ul li ul li ul li {
	background: rgba(240,240,240,0.9)
}
/*网页内容区*/
#wrap #content {
	width: 1024px;
	margin: 60px auto;
	height: 580px;
	position: relative;
	background: rgba(255,255,255,0.80);
}
/*文章*/
#wrap #content article {
	width: 950px;
	height: 500px;
	margin: 0px auto;
	background: #FFFFFF;
	position:relative;
	top: 20px;
	padding: 20px;
}
#wrap #content article h2 {
	text-align: center;
}
#wrap #content article h3 {
	text-align: center;
	font-size: 12px;
	color: #818181;
}
#wrap #content article p {
	text-indent: 2em;
	font-size:18px;
	line-height:2;
}
#wrap #content article p a{
	font-weight: bolder;
	text-decoration:underline;
	}
#wrap #content article p span{
	float:right;
	padding-right:10px}
/*尾部声明*/
footer {
	width: 1024px;
	margin: 0 auto;
	background-color: rgba(240,240,240,0.9);
	color: #4F4F4F;
	height: 50px;
	position: relative;
	top: 650px;
}
footer p {
	text-align: center;
	line-height: 25px;
	font-size: 14px;
}
